body  {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: #EEE;  
    color: #444;  
}


.blog {
  text-align: center;
  padding: 0;
}

.blog-background {
  background-image: url('../images/back.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.blog-header {
  padding: 20px;
  color: black; /* Couleur du texte */
  background-color: white; /* Couleur de fond de l'en-tête */
  margin-top: -5px; /* Pour éviter tout espace entre l'image de fond et l'en-tête */
}
.blog-header hr {
  width: 100px;
  border: 2px solid #0069ff;
  margin: 20px auto;
}

.blog-header h2 {
  font-size: 2.5em;
  margin: 10px 0;
}

.blog-header p {
  font-size: 1.2em;
  margin: 10px 0;
}

.blog-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les éléments */
  padding: 20px;
}
/* src/styles/BlogItem.css */

.blog-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-item:hover {
  transform: translateY(-10px);
}

.blog-item-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.blog-item-content {
  padding: 15px;
}

.blog-item-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.blog-item-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.blog-item-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.blog-item-link:hover {
  background-color: #0056b3;
}

.blog-item-date {
  font-size: 0.9em;
  color: #999;
  margin: 0;
}

