body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: #EEE;
    color: #444;
}


strong{
  font-weight: 600;
  color: #000;


}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: left;
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin: 10px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #000;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    color: #000;
    font-size: 20px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .scroll-top {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .scroll-top:hover {
    text-decoration: underline;
  }
  