body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: #EEE;
    color: #444;
}


.portfolio {
  text-align: center;
  padding: 0;
}

.portfolio-background {
  background-image: url('../images/back.jpeg'); 
  background-size: cover;
  background-position: center;
  padding: 45px 5px;
  color: white;
}
.portfolio-header hr {
  width: 100px;
  border: 2px solid #0069ff;
  margin: 20px auto;
}

.portfolio h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 0;
}

.portfolio p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px; /* Espace entre les éléments */
  padding: 20px;
}

/* Styles des éléments de portfolio */
.portfolio-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 350px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.portfolio-item-content {
  padding: 15px;
}

.portfolio-item-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.portfolio-item-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.portfolio-item-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #0d6efd;
  border-color:#0d6efd;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.portfolio-item-link:hover {
  background-color: #00ff00;
}

.portfolio-item-footer {
  background-color: #f8f9fa;
  border-top: 0.5px solid #ddd;
  padding: 5px;
}

.portfolio-item-technology {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  color: #999;
  margin: 0;
}


