body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: #EEE;
  color: #444;  

}


.services {
  text-align: center;
  background: #fff;
  padding: 50px 0;
}

.services-header h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.services-background{
  background-image: url('../images/back.jpeg'); /* Assurez-vous que le chemin est correct */
  background-size: cover;
  background-position: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
  margin-top: -55px;
}

.services-header p {
  font-size: 1.2em;
  color: #666;
}

.services-header hr {
  width: 100px;
  border: 2px solid #0069ff;
  margin: 20px auto;
}

.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-icon {
  color: #0069ff;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1em;
  color: #666;
}

@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
  }
}
.service-card:hover .service-icon {
  color: #cde1f8;
}
.service-icon {
  color: #0069ff;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}



